#maindiv{
	position: relative;
	margin-left: 250px;
	margin-right: 200px;
	color: none;
}

#headerdiv{
	margin-top: 50px;
	background-color: #56DCD8;
	width: 500px;
	height: 60px;
	position: relative;
}

h1{
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
}

h2{
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25px;
}

body{
	font-family: Arial;
}

#EstudiosRealizados{
	position: relative;
	float: bottom;
	height: 550px;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 420px;
	
}

#textdiv{
	position: relative;
	width: 570px;
	height: 360px;
	float: left;
	font-size: 21px;
	font-style: bold;
	text-align: center;
	margin-left: 250px;

}

#imagediv{
	margin-right: 200px;
	width: 280px;
	height: 360px;
	position: relative;
	float: right;
}

img{
	margin:10px;
}

.defaultValues{
	background-color: rgba(80,235,255,0.5);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
}

table{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.p1{
	margin-top: 30px;
	font-size: 22px;
	font-weight: bold;
}

.p2{
	font-size: 18px;
}

#chile{
	height: 200px;
	width: auto;
}

#taular{
	height: 200px;
	width: auto;
}

#unitec{
	height: 200px;
	width: auto;
}

#ExperienciaLaboral{
	position: relative;
	margin-left: 250px;
	margin-right: 200px;
}

li{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

#BecasOtorgadas{
	position: relative;
	margin-left: 250px;
	margin-right: 200px;
}